@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
	font-family: 'fontello';
	src: url('../fonts/icons/fontello.eot');
  src: url('../fonts/icons/fontello.eot') format('embedded-opentype'),
       url('../fonts/icons/fontello.woff') format('woff'),
       url('../fonts/icons/fontello.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*body {
	background: #bcbec0;
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
	color: #4B4C4C;
	margin: 0px;
	font-size: 12px;
}

img {
	margin: 40px 0px 0px 0px;
	border: 1px solid #E9E9E9;
	border-radius: 20px;
	height: 150px;
}
section	{
	margin: 0 0px;
	padding: 0px 0px;
}

header	{
	text-align: center;
}

.about-me {
	text-align: left;
	float: left;
	width: 45%;
	background-color: #E8E9EA;
	margin: 20px;
	padding: 10px;
	box-shadow: 0px 0px 2px 0px #383E44;
}

.resume {
	float: right;
	width: 45%;
	background-color: #E8E9EA;
	margin: 20px;
	padding: 10px;
	box-shadow: 0px 0px 2px 0px #383E44;
}

.about-me .li {
  padding: 0px 10px 0px 10px;
}

 unvisited link
a:link {
    color: #4B4C4C;
}

 visited link
a:visited {
    color: #1e1e1e;
}

 mouse over link
a:hover {
    color: #818181;
}

 selected link
a:active {
    color: #4B4C4C;
}

.nav-bar {
	background: #6699CC;
	font-family: 'Lato', sans-serif;
	vertical-align: middle;
	padding: 5px;
	height: 30px;
}
.nav-bar .item {
	display: inline;
	padding: 5px 5px 5px 5px;
	font-family: 'Lato', sans-serif;
}

.image-logo {
	height: 25px;
	margin: 0px 0px 0px 0px;
	border: 1px solid #E9E9E9;
	border-radius: 5px;
}

@media (max-width: 1200px) {
	.resume {
	float: none;
	width: 90%;
	background-color: #E8E9EA;
	margin: 20px auto;
	padding: 10px;
	box-shadow: 0px 0px 2px 0px #383E44;
	}

	.about-me {
	float: none;
	width: 90%;
	background-color: #E8E9EA;
	margin: 20px auto;
	padding: 10px;
	box-shadow: 0px 0px 2px 0px #383E44;
	}

}*/


* {
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	font-size: 12px;
}

body {
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 1em;
	line-height: 1.4;
}

nav {
	text-align: left;
	float: left;
	clear: both;
	min-width: 10%;
	list-style: none;
	height: 100%;
	border-right: solid 1px black;
}

section {
	padding: .1em;
	font-size: .7em;
}

section.body {
	font-size: 1.2em;
	text-align: center;
}

nav li {
	height: 3em;
}

a.nav-bar-link {
	color: black;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	padding: 3px;
}

hr {
	opacity: .7;
	border-color: #156FA9;
	border-top: none;
}


a.nav-bar-link:first-child {
	border-left:none;
}

.resume-header {
	font-size: 2.5em;
}

.contact-info {
	/*display: flex;
	align-items: center;
	justify-content: center;*/
}

.contact-info li {
	display: inline-block;
	list-style: none;
	margin-left: .2em;
	margin-right: .2em;
	min-width: 25%;
	margin-bottom: .2em;
}

i.icon {
	font-family: 'fontello';
	font-style: normal;
	margin-right: .3em;
}


h1 {
	font-size: 2.2em;
}

.skills li {
	display: inline-block;
	min-width: 10%;
}

.skills li:nth-child(odd) {
	font-weight: bold;
}

.jobs, .volunteer-work {
	text-align: left;
}

h3 {
	font-size: 1.3em;
}

p {
	font-size: .9em;
}

h5 {
	text-decoration: underline;
}
.job-description {
	padding-left: 3em;
}

a.unstyled-link {
	color: inherit;
	text-decoration: inherit;
}