@import url('https://fonts.googleapis.com/css?family=Encode+Sans:300');

html {
  font-size: 50%;
  background-color: #FFFFFF;
}

body {
  line-height: 1.2;
  font-family: 'Encode Sans', Arial, sans-serif;
  color: rgb(0, 0, 0);

}

header.row, header.column, header.container {
  text-align: center;
}

header li {
  list-style: none;
  display: inline;
  margin: 0em .4em;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
  margin-bottom: .1em;
}

header.container {
  padding-bottom: .5em;
}

.container {
  width: 95%;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, a {
  color: rgb(0, 0, 0);
  margin-bottom: .9rem;
}

a {
  font-style: italic;
}

a:hover, a h6:hover {
  color: #3A506B;
}

.no-style-link {
  text-decoration: none;
  color: black;
}

h3, h6 {
  text-transform: uppercase;
}

h4 {
  font-weight: bold;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  margin-bottom: 0rem;
  font-size: 1.4rem;
}

h6 span.dates {
  color: black;
  text-transform: none;
  font-weight: normal;
  font-size: .8em;
  float: right;
}

.center {
  text-align: center;
}

p, li {
  margin-bottom: 0.1rem;
}

ul {
  list-style: disc inside;
  margin-bottom: 0.4rem;
}

ul li {
  margin-left: 1em;
}

hr {
  border-color: #1C2541;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

i {
  font-style: normal;
  margin-right: .3em;
}

.tech-list-item {
  margin-bottom: 0.2rem;
}