@font-face {
	font-family: 'fontello';
	src: url('../fonts/icons/fontello.eot');
  src: url('../fonts/icons/fontello.eot') format('embedded-opentype'),
       url('../fonts/icons/fontello.woff') format('woff'),
       url('../fonts/icons/fontello.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'phone';
	src: url('../fonts/icons/phone/fontello.eot');
  src: url('../fonts/icons/phone/fontello.eot') format('embedded-opentype'),
       url('../fonts/icons/phone/fontello.woff') format('woff'),
       url('../fonts/icons/phone/fontello.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 50%;
  background-color: #FFFFFF;
}

body {
  line-height: 1.3;
  color: #0B132B;

}

header.row, header.column, header.container {
  text-align: center;
}

header li {
  list-style: none;
  display: inline;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
  margin-bottom: .1em;
}

header.container {
  padding-bottom: .5em;
}

.container {
  width: 95%;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, a {
  color: #5BC0BE;
}

a {
  font-style: italic;
}

a:hover, a h6:hover {
  color: #3A506B;
}

.no-style-link {
  text-decoration: none;
  color: black;
}

h4 {
  font-weight: bold;
}

h6 {
  margin-bottom: 0rem;
  text-transform: uppercase;
}

.center {
  text-align: center;
}

p, li {
  margin-bottom: 0.1rem;
}

hr {
  border-color: #1C2541;
}

i {
  font-style: normal;
  margin-right: .3em;
}

i.icon {
	font-family: 'fontello';
}

i.phone-icon {
	font-family: 'phone';
}

.portfolio-image {
  height: 250px;
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.caption {
  height: 50px;
}

.caption p {
  font-size: 1.5vh;
}

.nba-gem {
  background: url('../images/nba-api-gem.png') no-repeat center;
  background-size: cover;
}

.nba-app {
  background: url('../images/nba-application.png') no-repeat center;
  background-size: cover;
}

.pair-coder {
  background: url('../images/pair-coder.png') no-repeat center;
  background-size: cover;
}

.flowly {
  background: url('../images/flowly.png') no-repeat center;
  background-size: cover;
}