@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);

* {
	font-size: 18px;
}

@font-face {
	font-family: 'Icons';
	src: url('../fonts/icons/fontello.ttf');
}

body {
	background-color: #5D90C9;
	margin: 0 auto;
	padding: 0;
	font-size: 1rem;
	font-family: 'PT Sans Narrow', sans-serif;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	font-style: italic;
	color: white;
}
#non-game-board-container {
	height: 14%;
	font-size: 1em;
}

.board {
	width: 55%;
	height: 85%;
	margin: 0 auto;
	box-sizing: border-box;
}

.column {
	height: 100%;
	display: inline-block;
	box-sizing: border-box;
	border: solid 1px yellow;
	background-color: #5D90C9;
	vertical-align: middle;
	font-family: 'Icons';
	font-size: 2em;
}

.row {
	width: 100%;
	box-sizing: border-box;
	border: solid 1px yellow;
	/*border: solid 1px black;*/

}

.play-row {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: .2em;
}

.play-row .column {
	border-radius: 50px;
	background-color: transparent;
	background-image: url('../images/downArrow.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-color: transparent;
	box-sizing: border-box;
}

.red {
	background-image: url('../images/red.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: fall .15s ease-in-out;
}

.black {
	color: black;
	background-image: url('../images/black.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: fall .15s ease-in-out;
}

@keyframes fall {
	0% 		{transform: translateY(-900px); border: none;}
	99% 	{border: none;}
	100% 	{transform: translateY(0);}
}

